p{
    margin-top: auto;
    margin-bottom: auto;
}
table{
    border: 2px;
    border-collapse: collapse;
    border-color: black;
}
th{
    background-color: cyan;
}

.vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.vertical button{
    margin-bottom: 2px;
}
.pop-up:not(.vertical){
    display: none;
}
.pop-up.vertical{
    position: fixed;
    background-color: white;
    border: 2px solid black;
}
.original{
    color: black;
}
.changed{
    color: brown;
}
.for-delete{
    color: gray;
    text-decoration: line-through;
}


#file-port button{
    background-color: green;
    color: white;
    border-color: black;
}
#file-port{
    border: 0px;
}
#Main-buttons button:not(#start){
    background-color: black;
    color: white;
}
#start{
    background-color: red;
    color: white;
    font-size: 20px;
}