#file-port button{
    background-color: green;
    color: white;
    border-color: black;
}
#file-port{
    border: 0px;
}
th, td{
    padding: 2px;
}
#start{
    background-color: red;
    font-size: 20px;
    color: white;
}