#file-port div *{
    background-color: green;
    color: white;
    border-color: black;
    text-align: right;
}
#file-port div{
    size: auto;
}
#start{
    background-color: red;
    font-size: 20px;
}